﻿@model Universidad.Models.Estudiante

@section styles{
    <!--ESTILOS SELECT BOOSTRAPT-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
}<br />
<h2 style="text-align: center">NUEVO ESTUDIANTE</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-md-1">
        <a type="button" class="btn btn-outline-info" href='@Url.Action("Index", "Universidad")'><i class="fas fa-caret-square-left"></i> REGRESAR</a>
    </div>
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group col-sm-5">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-5">
            &emsp;<label>Fecha de Nacimiento</label>
            @Html.TextBoxFor(model => Model.FechaNacimiento, new { @class = "form-control", @type = "date", @Value = Model?.FechaNacimiento.ToString("dd-MM-yyyy") })
            @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sm-5">
            @Html.LabelFor(model => model.Domicilio, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.Domicilio, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Domicilio, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-outline-secondary" />
        </div>
    </div>
}
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
}

