﻿@model Universidad.Models.Estudiante

<div class="col-md-11">
    <br />
    <h2 style="text-align: center">DATOS DEL ESTUDIANTE @ViewBag.Id</h2>
    <hr style="width:70%; height: 8px; color:darkred" />
</div><br />
<div class="col-md-1">
    <a type="button" class="btn btn-outline-info" href='@Url.Action("Index", "Universidad")'><i class="fas fa-caret-square-left"></i> REGRESAR</a>
</div><br />
@Html.AntiForgeryToken()
<div class="jumbotron">
    <div style="text-align: center">
        <dl>
            <dt>Nombre</dt>
            <dd>@Model.Nombre</dd>
            <dt>Fecha de Nacimiento</dt>
            <dd>@Model.FechaNacimiento.ToString("dd-MM-yyyy")</dd>
            <dt>Domicilio</dt>
            <dd>@Model.Domicilio</dd>
        </dl>
        <div style="text-align: center">
            <a class="btn btn-light" href='@Url.Action("Editar","Universidad", new {Id = @Model.Id })'><i class="far fa-edit"></i> Editar</a>
        </div>
    </div>
</div>
<form action='@Url.Action("Delete","Universidad" )' method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <button type="submit" class="btn btn-danger"><i class="fas fa-user-times"></i> Eliminar</button>
</form>
