﻿@*@model List<Universidad.ViewModels.EstudiantViewModels>*@
@section styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
}
<div class="row">

    <div class="col-md-10" style="text-align: center">
        <br />
        <h2>ESTUDIANTES</h2>
        <hr style="width:70%; height: 8px; color:darkred" />
    </div>
    <div class="col-md-2">
        <br />
        <a class="btn btn-outline-secondary" href='@Url.Action("Create","Universidad")'><i class="far fa-address-card"></i>  Agregar</a>
    </div>
</div>
<br />
@if (ViewBag.Mensaje != null)
{
    <div class="alert alert-info">
        @ViewBag.Mensaje
    </div>
}
<br />
<table class="table table-striped table-bordered" id="Universidad">
    <thead>
        <tr>
            <th>NOMBRE</th>
            <th>FECHA DE NACIMINETO</th>
            <th>DOMICILIO</th>
            <th>OPCIONES</th>
        </tr>
    </thead>
    @*@foreach (var estudiante in Model)
            {
        <tr>
            <td>@estudiante.Nombre</td>
            <td>@estudiante.FechaNacimiento.ToString("dd-MM-yyyy")</td>
            <td>@estudiante.Domicilio</td>
            <td>
                <a class="btn btn-light" href='@Url.Action("Detalles","Universidad", new { Id = estudiante.Id })'><i class='far fa-user'></i> Ver</a>
            </td>
        </tr>
            }*@

</table>
@section scripts{
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script>
        //function FormatoFecha(o) {
        //    return o.value &&
        //        Y.DataTime.Date.format(o.value, { format: "MM/dd/YYYY" });
        //}

        $(document).ready(function () {
            $('#Universidad').DataTable({
                "processing": true,
                serverSide: true,
                aLengthMenu: [2,4,5],
                ajax: '/Universidad/GetEstudiante',
               columns: [
                   { "data": "Nombre" },
                   { "data": "FechaNacimiento"/*formatter: FormatoFecha*/},
                   { "data": "Domicilio" },
                   { "render": function (data, type, full, meta)
                     { return '<a class="btn btn-light" href="/Universidad/Detalles/' + full.Id + '"><i class="far fa-user"></i> Ver</a>'; },
                   },
               ],
            });
        });
    </script>
}