/* line 1, C:/Users/Shubham/Desktop/test/sass/app.sass */
html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/* line 7, C:/Users/Shubham/Desktop/test/sass/app.sass */
.nav {
  background: black  ;
  position: relative;
  z-index: 1000;
}

/* line 13, C:/Users/Shubham/Desktop/test/sass/app.sass */
.nav .logo i {
  color:  white ;
  font-size: 1.5rem;
  padding: 10px;
  
}

/* line 17, C:/Users/Shubham/Desktop/test/sass/app.sass */
.nav .logo i:hover {
  color: rgb(192, 192, 192);
  transition: color 0.3s;
}

/* line 24, C:/Users/Shubham/Desktop/test/sass/app.sass */
.nav .main-nav .hamburger-nav::after {
  font-family: fontawesome;
  content: "\f0c9";
  color:  white ;
  font-size: 1.5rem;
  position: absolute;
  top: 5px;
  right: 20px;
  cursor: pointer;
}

/* line 34, C:/Users/Shubham/Desktop/test/sass/app.sass */
    .nav .main-nav .menu {
        display: none;
        list-style: none;
        position: absolute;
        top: 100%;
        right:0%;
        padding-right: 0px;
        padding-left: 0px;
        width: 100%;
        overflow: hidden;
    }

/* line 42, C:/Users/Shubham/Desktop/test/sass/app.sass */
        .nav .main-nav .menu a {
            display: block;
            background: #f1f1f1;
            text-decoration: none;
            text-align: center;
            padding: 20px;
            border-bottom: 0.5px solid rgba(200, 200, 200, 0.2);
        }

/* line 50, C:/Users/Shubham/Desktop/test/sass/app.sass */
.nav .main-nav .menu a:hover {
  background: white;
  transition: background 0.3s ease;
}

/* line 53, C:/Users/Shubham/Desktop/test/sass/app.sass */
.nav .main-nav .menu a:hover li {
  
}

/* line 56, C:/Users/Shubham/Desktop/test/sass/app.sass */
.nav .main-nav .menu a li {
    color: #4f4040;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 0.8rem;
    letter-spacing: 25px;
}

/*# sourceMappingURL=../css/app.map */
