﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/app.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="~/Content/dx.light.css" rel="stylesheet" />
    <link href="~/Content/dx.common.css" rel="stylesheet" />
    @RenderSection("styles", false)
    <title>@ViewBag.Title - Universidad</title>
</head>
<body>
    <div class="nav">
        <div class="logo">
            <img src="~/Imag/UV.png" />
            <i style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">UNIVERSIDAD</i>
        </div>
        <div class="main-nav">
            <a class="hamburger-nav"></a>
            <ul class="menu">
                <li>
                    <a href='@Url.Action("Index", "Home")'><i class="fa fa-home"></i> INICIO</a>
                </li>
                <li>
                    <a href='@Url.Action("Index", "Estudiante")'><i class="fa fa-file-image-o"></i> Estudiantes</a>
                </li>
                <li>
                    <a href='@Url.Action("Index", "Grado")'><i class="far fa-list-alt"></i> Semestre</a>
                </li>
                <li>
                    <a href='@Url.Action("Contact", "Home")'><i class="fa fa-envelope"></i> Contact</a>
                </li>
                <li>
                    <a href=@Url.Action("About", "Home")><i class="fa fa-cogs"></i> Settings</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()

    </div>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.1.0.min.js"></script>
    <script src="~/Scripts/dx.web.js"></script>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/app.js"></script>

</body>
</html>
