﻿@model IEnumerable<UDataLayer.Context.Orm.Estudiante>
@section styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    }
    <div class="row">
        <div class="col-md-10" style="text-align: center">
            <br />
            <h2>ESTUDIANTES</h2>
            <hr style="width:70%; height: 8px; color:darkred" />
        </div>
        <div class="col-md-2">
            <br />
            <a class="btn btn-outline-secondary" href='@Url.Action("Create","Universidad")'><i class="far fa-address-card"></i>  Agregar</a>
        </div>
    </div>

    @if (ViewBag.Mensaje != null)
    {
        <div class="alert alert-info">
            @ViewBag.Mensaje
        </div>
    }

    <br />
    <table class="table">
        <tr>
            <th>NOMBRE</th>
            <th>FECHA DE NACIMIENTO</th>
            <th>DOMICILIO</th>
            <th>OPCIONES</th>
        </tr>

        @foreach (var e in Model)
        {
            <tr>
                <td>
                    @e.Nombre
                </td>
                <td>
                    @e.FechaNacimiento
                </td>
                <td>
                    @e.Domicilio
                </td>

                <td>
                    <a class="btn btn-light" href='@Url.Action("Detalles","Universidad", new { Id = e.Id })'><i class='far fa-user'></i> Ver</a>
                </td>
            </tr>
        }

    </table>
