﻿@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

    <br />
    <div id="gridEstudiante"></div>
    <h1>Estudiante seleccionado</h1>
    <p>
        Nombre Estudiante<span id="NombreEstudiante"></span><br />
        Grado<span id="Grado"></span><br />
    </p>

</div>


@section scripts{
    
    <script>
        $("#gridEstudiante").dxSelectBox({
            dataSource: "http://localhost:/51484/Api/Estudiante",
            displayExpr: 'Combo',
            onClick: function (e) {
                $('#NombreEstudiante').html(e.estData.Nombre);
            }
        });

    </script>
}